<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv='X-UA-Compatible' content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="favicon.png">
	<title> Document </title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet"> 
	<link rel="stylesheet" href="./css/styles.css">

	<!-- HTML5 shim and Respond.js-->
	<!-- [if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<! [endif]-->	

</head>
<body>
	<header class="header">
		<nav class="wrapper navigation">
			<a href="index.html" class="navigation__logo">
				<img src="..\img\svg\logo.svg" alt="Logotype">
			</a>
			<ul id="menuUp" class="navigation__ul">
				<li class="navigation__li nav">
					<a href="#decorazza" class="navigation__a">
					DECORAZZA</a>
				</li>
				<li class="navigation__li nav">
					<a href="#catalog" class="navigation__a">
					КАТАЛОГ</a>
				</li>
				<li class="navigation__li nav">
					<a href="#" class="navigation__a">
					ОБУЧЕНИЕ</a>
				</li>
				<li class="navigation__li nav">
					<a href="#wall" class="navigation__a">
					 СОТРУДНИЧЕСТВО</a>
				</li>
				<li class="navigation__li nav">
					<a href="#contacts" class="navigation__a">
					КОНТАКТЫ</a>
				</li>
				<li class="navigation__b nav">
					<a href="tel:+78452465880" class="navigation__b_a">
					+7 (8452) 465-880</a>
					<p class="navigation__b_p">заказать звонок</p>
				</li>
			</ul>
			<button class="mobile-menu">	
			<span class="visually-hidden">
			Open mobail menu
			</span>
			</button>
		</nav>
	</header>
	<main class="main">
		<section class="wrapper catalog ">
			<div class="catalog-paper">
					<h1 class="catalog-paper__h">
						Декоративные<br> штукатурки и краски
					</h1>
					<p class="catalog-paper__p" >
						Легко подобрать цвет, фактуру и сделать расчет материалов под ваш проект
					</p>
					<p class="catalog-paper__btn">
						<a href="#modal" class="btn catalog-paper__btn_a">
							Смотреть каталог
						</a>
					</p>
			</div>
			<ul class="catalog-svg">
				<li class="catalog-svg__li catalog-svg__li_choice">
					БОЛЬШОЙ ВЫБОР
				</li>
				<li class="catalog-svg__li catalog-svg__li_price">
					ДОСТУПНЫЕ ЦЕНЫ
				</li>
				<li class="catalog-svg__li catalog-svg__li_exclusive">
					ЭКСКЛЮЗИВНАЯ ПРОДУКЦИЯ
				</li>
			</ul>
			<figure class="catalog-img ">
				<img src="./img/pictures1.jpg" alt="photo" 
				class="catalog-img__1">
				<img src="./img/pictures1-768px.jpg" alt="photo" 
				class="catalog-img__1_ipad">
				<img src="../img/picture1-1440px.png" alt="photo" 
				class="catalog-img__1_dectop">


				<img src="./img/pictures2.jpg" alt="photo" 
				class="catalog-img__2">	
				<img src="./img/pictures2-768px.jpg" alt="photo" 
				class="catalog-img__2_ipad">
				<img src="../img/pictures2-1440px.jpg" alt="photo" 
				class="catalog-img__2_dectop">


				<img src="./img/pictures3.jpg" alt="photo" 
				class="catalog-img__3">
				<img src="./img/pictures3-768px.jpg" alt="photo" 
				class="catalog-img__3_ipad">
				
				<img src="./img/pictures4.png" alt="photo" 
				class="catalog-img__4">
				<img src="./img/pictures4-768px.jpg" alt="photo" 
				class="catalog-img__4_ipad">
				
			</figure>
		</section>
		<article id="decorazza" class="decorazza">
			<div class="decorazza-form wrapper">
				<p class="decorazza-form__p">
					Добро пожаловать в
				</p>
				<h2 class="decorazza-form__h">
					Decorazza
				</h2>
				<p class="decorazza-form__p">Decorazza — это эксклюзивные декоративные штукатурки, фактурные и лессирующие материалы.
				</p>
				<p class="decorazza-form__p">Роскошная палитра цветов и многообразие текстур вдохновит Вас на создание непревзойденных дизайнов интерьера!
				</p>
			</div>
		</article>
		<section id="catalog" class="advantages">
			<div class="background-image">
			</div>
			<div class="advantages-list wrapper">
				<h2 class="decor-h">
					Декоративная штукатурка Decorazza — это 
				</h2>
				<ul class="catalog-ul">
					<li class="catalog-ul__li">
						<p class="catalog-ul__li_p">
							<b>Потрясающий внешний вид:</b> бесшовная текстура, богатая цветовоя палитра и широкий выбор фактур.
						</p>
					</li>
					<li class="catalog-ul__li">
						<p class="catalog-ul__li_p">
							<b>Доступные цены:</b> получите современный<br> декор независимо<br> 
							от размера кошелька.
						</p>
					</li >
					<li class="catalog-ul__li">
						<p class="catalog-ul__li_p">
							<b>Влагостойкость:</b> плотная структура предотвращает проникновение воды и служит надежной защитой поверхности.
						</p>
					</li class="catalog-ul__li">
					<li class="catalog-ul__li">
						<p class="catalog-ul__li_p">
							<b>Долговечность:</b> штукатурка выдерживает широкий температурный диапазон и не подвержена коррозии.
						</p>
					</li>
				</ul>
			</div>
			<div class="background-image__last">
			</div>
			<div class="advantages-list_order wrapper">
				<h2 class="decor-h">
					А ещё... 
				</h2>
				<ul class="catalog-ul">
					<li class="catalog-ul__li">
						
						<p class="catalog-ul__li_p">
							<b>Простота нанесения: </b> вам не требуется профессиональная подготовка и специальное оборудование, вы сможете сделать шикарный дизайн своими руками.
						</p>
					</li>
					<li class="catalog-ul__li">
						
						<p class="catalog-ul__li_p">
							<b>Неровные стены — не беда:</b> вы можете выбрать крупнозернистую штукатурку, для которой не требуется шпатлевать и тщательно выравнивать стены.
						</p>
					</li >
					<li class="catalog-ul__li">
						
						<p class="catalog-ul__li_p">
							<b>Смена цвета:</b> если дизайн начинает надоедать, просто перекрасьте стены, декорированные штукатуркой, в другой цвет. 
						</p>
					</li class="catalog-ul__li">
				</ul>
			</div>
		</section>
		<section class="plaster">
			<div class="plaster-advanteges wrapper">
				<div id="wall" class="wall">
					<h2 class="wall__h">
						Преимущества декоративной штукатурки
					</h2>
					<p class="wall__p">
							Что выбрать, декоративную штукатурку или обои?
					</p>
					
							
							<ul class="wall__ul">
								<p class="wall__li_p">
								Штукатурка
								</p>
								<li class="wall__li">
									Без стыков
								</li>
								<li class="wall__li">
									Можно мыть
								</li>
								<li class="wall__li">
									Любые цвета 
									и фактуры
								</li>
							</ul>
				</div>
				<div class="wall-wallpaper">
					
					<ul class="wall-wallpaper__ul">
						<p class="wall-wallpaper__li_p">
							Обои
						</p>
						<li class="wall-wallpaper__li">
							Со стыками
						</li>
						<li class="wall-wallpaper__li">
							Грязные
						</li>
						<li class="wall-wallpaper__li">
							Ограничение выбора
						</li>
					</ul>
				</div>
					
			</div>
		</section>
		<section class="contacts">
			 <section class="contacts-info wrapper">
					<h2 class="visually-hidden">contacts</h2>
					<h3 id="contacts" class="contacts-info__h">
						Контакты
					</h3>
					<p class="contacts-info__p contacts-info__phone">
						<a href="tel:+78452465880" class="contacts-info__link">+7 (8452) 465-880</a>

					</p>
					<p class="contacts-info__p contacts-info__mail">
						<a href="mail:decorazza64@yandex.ru" class="contacts-info__link">decorazza64@yandex.ru</a>
					</p>
					<p class="contacts-info__p contacts-info__adress">
						г. Саратов, ул. Бирюзова, 22
					</p>
					<a href="#" class="contacts-info__a contacts-info__a_vk">
					</a>
					<a href="#" class="contacts-info__a contacts-info__a_face">
					</a>
					<a href="#" class="contacts-info__a contacts-info__a_inst"
					></a>
				</section>
				<div class="contacts-map">
					<a href="https://www.google.com.ua/maps/@49.2066941,28.4954985,15z" class="contacts-map__link" rel="nofollow noopener" target="_blank">
						 <img src="./img/map.jpg" alt="map" class="contacts-map__img">
						 <img src="./img/map.jpg" alt="map" class="contacts-map__img1440px">
					</a>
					<div id="map" class="contacts-map__container"></div>
				</div>
		</section>
	</main>
	<footer class="footer wrapper">
		<p class="footer-decorazza">
			© 2016 Салон "Decorazza" в Саратове
		</p>
	</footer>
	<div class="modal-container d-n">
		<div class="modal-container__main wrapper">
			<button class="closer-modal">
				<span class="visually-hidden">Closer</span>
			</button>
			<section id="modal" class="consultation">
				<h2 class="consultation__h">
					Закажите бесплатную консультация
				</h2>
				<p class="consultation__p">
					Оставьте Ваши контакты и мы свяжемся с Вами в ближайшее время
				</p>

				<form action="#" class="consultation-free">
					<input type="text" 
					class="consultation-free__input" placeholder="Имя">
					<input type="text" 
					class="consultation-free__input" placeholder="Телефон">
					<input type="text" 
					class="consultation-free__input" placeholder="Ваш запрос">
					<button class="consultation-free__button " type="submit">
						Отправить
					</button>
				</form>
			</section>
		</div>
	</div>
	
		<a href="#menuUp" class="menuUp">
			
		</a>
	
<script src="./js/jquery.min.js"></script>
<script src="./js/js.js"></script>
</body>
</html>